// Colors
$color__primary: #44a4c3 !default;
$color__secondary: #b899de !default;
$gray-light: #f7f8fb !default;
$gray: #ccc !default;
$gray-dark: #333 !default;

// Fonts
$base-font-family: Museo, Arial, Sans-Serif !default;
$base-font-size: 16px !default;
$base-font-color: $gray !default;

// Misc
$base-border-color: $gray-light !default;
$base-border-radius: 6px !default;